#container {
    border: 1px solid rgba(135, 207, 235, 0.187);
    width: 500px;
    height: 300px;
    margin: 0% auto;
    margin-top: 10%;
    box-shadow: 0px 0px 20px 1px gray;
    background-color: white;
}

body {
    background-color: rgba(216, 191, 216, 0.689);

}

h1 {
    text-align: center;
}

.flexx {
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 14vh;
    margin-left: 9px;
    border-radius: 10px;
}

.flexx:hover {
    background-color: rgb(45, 56, 22);
    color: white;
    cursor: pointer;
}

div p {
    font-size: x-large;
}

div i {
    font-size: xx-large;
    margin-top: 10px;
    color: rgb(142, 142, 4);
}

button {
    position: relative;
    left: 36.5%;
    top: 13%;
    padding: 5px;
    cursor: pointer;
    border-radius: 6px;
    background-color: turquoise;
    border-color: turquoise;
    font-size: 20px;
}

button:hover {
    background-color: greenyellow;
    border-color: yellowgreen;
}

@media screen and (max-width:518px) {
    #container {
        position: relative;
        top: 160px;
        left: 0%;
        min-width: 100vw;
    }
}